div.munja-shop {
    color: yellow;
    margin-top: 30px;
}

div.cart-my {
    background-color: black;
    border-color: yellow;
    margin-top: 30px;
}

div.cart-my:hover {
    background-color: rgb(77, 77, 5);
}

div.card-body {
    background-color: yellow;
}