div.takst {
    color: white;
}

div.oklubu {
    color: white;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

li {
    padding: 5px;
}

img.ikon{
    padding-top: 10px;
}