.navbar {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #cccf13 74%);

}

nav.header {
    padding-top: 40px;
    padding-bottom: 40px;
}

a.nav-link-ime {
    color: #000000 !important;
}
